In [4]:
import pandas as pd
import numpy as np 
from scipy.stats import kurtosis, skew
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("data/Retail_Dataset.csv")

In [3]:
df.head()

,week,weekly_revenue,seasonality_index,economic_index,avg_discount_rate,temperature,facebook_spend,facebook_impr,facebook_clicks,instagram_spend,...,tv_regional_spend,tv_regional_trps,radio_spend,radio_spots,ooh_spend,ooh_faces,print_spend,print_reach,influencer_tier1_spend,influencer_tier2_spend
0,2023-01-01,52483.570765,0.000000,99.677429,11.545143,22.476249,5948.463249,0.000690,0.014581,5232.240478,...,8467.571824,105.844648,5812.194092,29,3753.341621,250.222775,2485.042894,309911.245903,3051.473847,1936.681969
1,2023-01-08,50514.045297,0.120537,100.808102,21.558194,23.645896,4581.454134,0.000532,0.011230,8419.662396,...,4888.228902,61.102861,6138.752935,31,3381.178579,225.411905,1976.972019,246549.410854,4393.439879,1889.406204
2,2023-01-15,55631.599333,0.239316,103.772372,11.712672,26.309593,5610.112909,0.000651,0.013751,8125.293657,...,8661.800853,108.272511,4135.274787,21,4289.793142,285.986209,803.072206,100151.634632,3991.275845,1736.287162
3,2023-01-22,61161.198152,0.354605,100.349156,13.406697,23.609060,4103.734452,0.000476,0.010059,7650.151750,...,9667.118506,120.838981,1113.497144,6,3673.241934,244.882796,3118.892360,388959.007294,2744.167776,675.410033
4,2023-01-29,53476.464847,0.464723,100.515101,12.862005,26.693091,5086.793577,0.000590,0.012469,7972.405161,...,4012.609492,50.157619,4180.714104,21,2861.624793,190.774986,3015.871505,376111.212312,2991.324478,1867.964000

In [8]:
def summarize_independent_vars(df, target_col=None):
    X=df.copy()
    for col in ['week', target_col]:
        if col and col in X.columns:
            X.drop(columns=col, inplace=True)
    X= X.select_dtypes(include='number')
    summary = X.describe(percentiles=[.25, .5, .75]).T   
    summary['skew']= X.apply(skew,     nan_policy='omit')
    summary['kurtosis']= X.apply(kurtosis, nan_policy='omit')
    return summary

In [9]:
stats_df=summarize_independent_vars(df, target_col='weekly_revenue_log')
(stats_df.head())

,count,mean,std,min,25%,50%,75%,max,skew,kurtosis
weekly_revenue,104.0,5.003050e+04,9881.957682,30492.231206,42677.955273,5.042859e+04,56563.567422,89604.963664,6.933022e-01,1.290895
seasonality_index,104.0,1.294371e-17,0.710531,-1.000000,-0.684470,1.836970e-16,0.684470,1.000000,1.326889e-16,-1.500000
economic_index,104.0,1.001342e+02,1.897485,96.162458,98.417215,1.003592e+02,101.193119,105.440338,2.610755e-01,-0.119360
avg_discount_rate,104.0,1.026299e+01,3.024811,5.000000,8.110226,1.020112e+01,12.104556,21.558194,5.578172e-01,0.810594
temperature,104.0,2.014646e+01,7.931359,5.866555,12.760365,2.027869e+01,26.736317,36.496498,3.804549e-02,-1.076740